In [1]:
import random
import numpy as np
import pandas as pd
from pandas import json_normalize
import geopandas as gpd
from geopandas import GeoDataFrame
import xlrd
from random import *
import requests
from io import BytesIO

pd.set_option('display.max_columns', None)

import geodata

In [2]:
gdf = gpd.read_file("../shp/SF_DOE_PREC_2022_07_18_pg.shp", encoding='utf-8')
gdf = gdf.to_crs('EPSG:4269')

import results

In [89]:
url = 'https://www.sfelections.org/results/20241105/data/20241007/psov.xlsx'

In [17]:
response = requests.get(url)
if response.status_code == 200:
    dfTurnout = pd.read_excel(BytesIO(response.content), sheet_name='Sheet1', header=4, skipfooter=10)
    dfStateD7 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet9', header=3, skipfooter=6)
    dfStateD11 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet10', header=3, skipfooter=6)
    dfStateAd17 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet12', header=3, skipfooter=6)
    dfStateAd19 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet14', header=3, skipfooter=6)
    dfBOE = pd.read_excel(BytesIO(response.content), sheet_name='Sheet15', header=3, skipfooter=6)
    dfCC = pd.read_excel(BytesIO(response.content), sheet_name='Sheet16', header=3, skipfooter=6)
    dfBARTd7 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet17', header=3, skipfooter=6)
    dfBARTd9 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet18', header=3, skipfooter=6)
    dfMayor = pd.read_excel(BytesIO(response.content), sheet_name='Sheet19', header=3, skipfooter=6)
    dfd1 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet20', header=3, skipfooter=6)
    dfd3 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet21', header=3, skipfooter=6)
    dfd5 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet22', header=3, skipfooter=6)
    dfd7 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet23', header=3, skipfooter=6)
    dfd9 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet24', header=3, skipfooter=6)
    dfd11 = pd.read_excel(BytesIO(response.content), sheet_name='Sheet25', header=3, skipfooter=6)
    dfCitya = pd.read_excel(BytesIO(response.content), sheet_name='Sheet26', header=3, skipfooter=6)
    dfDa = pd.read_excel(BytesIO(response.content), sheet_name='Sheet27', header=3, skipfooter=6)
    dfSheriff = pd.read_excel(BytesIO(response.content), sheet_name='Sheet28', header=3, skipfooter=6)
    dfTreasurer = pd.read_excel(BytesIO(response.content), sheet_name='Sheet29', header=3, skipfooter=6)
    dfA = pd.read_excel(BytesIO(response.content), sheet_name='Sheet40', header=3, skipfooter=6)
    dfB = pd.read_excel(BytesIO(response.content), sheet_name='Sheet41', header=3, skipfooter=6)
    dfC = pd.read_excel(BytesIO(response.content), sheet_name='Sheet42', header=3, skipfooter=6)
    dfD = pd.read_excel(BytesIO(response.content), sheet_name='Sheet43', header=3, skipfooter=6)
    dfE = pd.read_excel(BytesIO(response.content), sheet_name='Sheet44', header=3, skipfooter=6)
    dfF = pd.read_excel(BytesIO(response.content), sheet_name='Sheet45', header=3, skipfooter=6)
    dfG = pd.read_excel(BytesIO(response.content), sheet_name='Sheet46', header=3, skipfooter=6)
    dfH = pd.read_excel(BytesIO(response.content), sheet_name='Sheet47', header=3, skipfooter=6)
    dfI = pd.read_excel(BytesIO(response.content), sheet_name='Sheet48', header=3, skipfooter=6)
    dfJ = pd.read_excel(BytesIO(response.content), sheet_name='Sheet49', header=3, skipfooter=6)
    dfK = pd.read_excel(BytesIO(response.content), sheet_name='Sheet50', header=3, skipfooter=6)
    dfL = pd.read_excel(BytesIO(response.content), sheet_name='Sheet51', header=3, skipfooter=6)
    dfM = pd.read_excel(BytesIO(response.content), sheet_name='Sheet52', header=3, skipfooter=6)
    dfN = pd.read_excel(BytesIO(response.content), sheet_name='Sheet53', header=3, skipfooter=6)
    dfO = pd.read_excel(BytesIO(response.content), sheet_name='Sheet54', header=3, skipfooter=6)
else:
    print(f"Failed to download. Status code: {response.status_code}")

In [107]:
dfTurnout = pd.read_excel(BytesIO(response.content), sheet_name='Sheet1', header=4, skipfooter=10)

(takes 3 mins to run)

In [108]:
dfStateD7

,Precinct,Registered \nVoters,Undervotes,Unnamed: 3,Overvotes,Precinct.1,JOVANKA BECKLES\n(DEM),Unnamed: 7,JESSE ARREGUIN\n(DEM),Unnamed: 9,Total Votes,Unnamed: 11
0,None,NaN,NaN,NaN,NaN,Countywide,NaN,NaN,NaN,NaN,NaN,NaN
1,None,NaN,NaN,NaN,NaN,Electionwide,NaN,NaN,NaN,NaN,NaN,NaN
2,None,NaN,NaN,NaN,NaN,PCT 9903 MB,NaN,NaN,NaN,NaN,NaN,NaN
3,None,0.0,0.0,NaN,0.0,Election Day,0.0,NaN,0.0,NaN,0.0,NaN
4,None,0.0,0.0,NaN,0.0,Vote by Mail,0.0,NaN,0.0,NaN,0.0,NaN
5,None,0.0,0.0,NaN,0.0,Total,0.0,NaN,0.0,NaN,0.0,NaN
6,None,0.0,0.0,NaN,0.0,Electionwide - Total,0.0,NaN,0.0,NaN,0.0,NaN
7,None,NaN,NaN,NaN,NaN,Cumulative,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
dfStateD11

,Precinct,Registered \nVoters,Undervotes,Unnamed: 3,Overvotes,Precinct.1,SCOTT WIENER\n(DEM),Unnamed: 7,YVETTE CORKREAN\n(REP),Unnamed: 9,Total Votes,Unnamed: 11
0,None,NaN,NaN,NaN,NaN,Countywide,NaN,NaN,NaN,NaN,NaN,NaN
1,None,NaN,NaN,NaN,NaN,Electionwide,NaN,NaN,NaN,NaN,NaN,NaN
2,None,NaN,NaN,NaN,NaN,PCT 1101,NaN,NaN,NaN,NaN,NaN,NaN
3,None,887.0,0.0,NaN,0.0,Election Day,0.0,NaN,0.0,NaN,0.0,NaN
4,None,887.0,0.0,NaN,0.0,Vote by Mail,0.0,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2047,Vote by Mail,0.0,0.0,NaN,0.0,Election Day,0.0,NaN,0.0,NaN,0.0,NaN
2048,Total,0.0,0.0,NaN,0.0,Vote by Mail,0.0,NaN,0.0,NaN,0.0,NaN
2049,PCT 9807,0.0,0.0,NaN,0.0,Total,0.0,NaN,0.0,NaN,0.0,NaN
2050,Election Day,515230.0,0.0,NaN,0.0,Electionwide - Total,0.0,NaN,0.0,NaN,0.0,NaN
2051,Vote by Mail,NaN,NaN,NaN,NaN,Cumulative,NaN,NaN,NaN,NaN,NaN,NaN

Shifting precinct labels down

In [110]:
# List of DataFrame variables
dataframes = [
    dfTurnout, dfStateD7, dfStateD11, dfStateAd17, dfStateAd19,
    dfBOE, dfCC, dfBARTd7, dfBARTd9, dfMayor,
    dfd1, dfd3, dfd5, dfd7, dfd9, dfd11,
    dfCitya, dfDa, dfSheriff, dfTreasurer,
    dfA, dfB, dfC, dfD, dfE, dfF, dfG, dfH, dfI, dfJ, dfK, dfL, dfM, dfN, dfO
]

for df in dataframes:
    df['Precinct'] = df['Precinct'].shift(3)

In [111]:
dfTurnout

,Precinct,Registered\nVoters,Unnamed: 2,Voters Cast,Unnamed: 4,% Turnout,Unnamed: 6,Unnamed: 7
0,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Countywide,887.0,NaN,0.0,NaN,0.0,NaN,NaN
4,Electionwide,887.0,NaN,0.0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...
2053,PCT 9903 MB,0.0,NaN,0.0,NaN,NaN,NaN,NaN
2054,Election Day,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2055,Vote by Mail,0.0,NaN,0.0,NaN,NaN,NaN,NaN
2056,Total,0.0,NaN,0.0,NaN,NaN,NaN,NaN
2057,PCT 9904 MB,0.0,NaN,0.0,NaN,NaN,NaN,NaN

In [112]:
dfTurnout['Voters Cast'] = np.random.randint(40, 80, dfTurnout.shape[0])

In [113]:
###
### TURNOUT
###

#trim and rename columns
dfTurnout = dfTurnout[['Precinct','Registered\nVoters','Voters Cast']]
dfTurnout.columns = ['precinct','registered_voters','votes_cast']

#drop unnecessary ones
dfTurnout = dfTurnout.dropna()
dfTurnout = dfTurnout[dfTurnout["precinct"].str.contains('PCT')]

#tidy up precinct column data
dfTurnout['precinct'] = dfTurnout['precinct'].str.replace('PCT ','').str.replace(' MB','')

#change data types
dfTurnout.registered_voters = dfTurnout.registered_voters.astype(int)
dfTurnout.votes_cast = dfTurnout.votes_cast.astype(int)

#create turnout column
dfTurnout['turnout'] = round((dfTurnout['votes_cast'] / dfTurnout['registered_voters']) * 100, 1)
dfTurnout['turnout'] = dfTurnout['turnout'].fillna(0)

In [114]:
bins = [0, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 100]
labels = ['Less than 25%', '25-30%', '30-35%', '35-40%', '40-45%', '45-50%', '50-55%', '55-60%', '60-65%', '65-70%', '70-75%', '75% and more']

# Calculate voter turnout percentage
dfTurnout['yes_perc'] = (dfTurnout['votes_cast'] / dfTurnout['registered_voters']) * 100

# Categorize turnout percentages into bins
dfTurnout['yes_perc'] = pd.cut(dfTurnout['yes_perc'], bins=bins, labels=labels, include_lowest=True)

In [115]:
dfTurnout

     precinct  registered_voters  votes_cast  turnout       yes_perc
5        1101                887          75      8.5  Less than 25%
9        1102                898          76      8.5  Less than 25%
13       1103                105          41     39.0         35-40%
17       1104               1205          63      5.2  Less than 25%
21       1105               1091          56      5.1  Less than 25%
...       ...                ...         ...      ...            ...
2041     9808                781          49      6.3  Less than 25%
2045     9901                  0          44      inf            NaN
2049     9902                  0          55      inf            NaN
2053     9903                  0          74      inf            NaN
2057     9904                  0          63      inf            NaN

[514 rows x 5 columns]

## merge

In [121]:
#tidy up shapefile
gdf = gdf[['Prec_2022','geometry']]
gdf.Prec_2022 = gdf.Prec_2022.astype(str)

In [122]:
dfTurnout = gdf.merge(dfTurnout, right_on='precinct', left_on='Prec_2022')
dfTurnout = dfTurnout[['precinct','registered_voters','votes_cast','yes_perc','turnout','geometry']]
gdfTurnout = GeoDataFrame(dfTurnout, crs="EPSG:4269", geometry='geometry')

In [123]:
gdfTurnout

,precinct,registered_voters,votes_cast,yes_perc,turnout,geometry
0,7042,801,44,Less than 25%,5.5,"POLYGON ((-122.42165 37.71029, -122.42100 37.7..."
1,1107,1060,77,Less than 25%,7.3,"POLYGON ((-122.45595 37.71134, -122.45593 37.7..."
2,1145,1071,78,Less than 25%,7.3,"POLYGON ((-122.44617 37.71104, -122.44550 37.7..."
3,7043,979,69,Less than 25%,7.0,"POLYGON ((-122.41508 37.71166, -122.41289 37.7..."
4,7046,1026,77,Less than 25%,7.5,"POLYGON ((-122.40973 37.71195, -122.40883 37.7..."
...,...,...,...,...,...,...
509,9201,1121,61,Less than 25%,5.4,"POLYGON ((-122.47754 37.81011, -122.47750 37.8..."
510,9202,1011,41,Less than 25%,4.1,"POLYGON ((-122.47725 37.81102, -122.47711 37.8..."
511,7301,1029,58,Less than 25%,5.6,"POLYGON ((-122.41991 37.81163, -122.41990 37.8..."
512,7645,1014,74,Less than 25%,7.3,"POLYGON ((-122.36862 37.83116, -122.36733 37.8..."
513,9904,0,63,NaN,inf,"POLYGON ((-122.42014 37.86316, -122.42009 37.8..."

In [124]:
# save to geojson
# Convert the 'yes_perc' column to string type for compatibility with GeoJSON export
dfTurnout['yes_perc'] = dfTurnout['yes_perc'].astype(str)

# Now you can export to GeoJSON
gdfTurnout.to_file('../docs/turnout-map/data/turnout.geojson', driver='GeoJSON')

TypeError: Cannot interpret 'CategoricalDtype(categories=['Less than 25%', '25-30%', '30-35%', '35-40%', '40-45%',
                  '45-50%', '50-55%', '55-60%', '60-65%', '65-70%', '70-75%',
                  '75% and more'],
, ordered=True)' as a data type